@charset "UTF-8";
/* 公共样式*/
/* iphone5 */
@media only screen and (min-width: 320px) {
  html {
    /* 320/375 = 0.853333*/
    font-size: 533.333333% !important; } }

/* android */
@media only screen and (min-width: 360px) {
  html {
    /* 360/375 = 0.96  */
    font-size: 600% !important; } }

/* iphone6 */
@media only screen and (min-width: 375px) {
  html {
    /* 375/375 = 1  */
    font-size: 625% !important; } }

/* iphone6Plus */
@media only screen and (min-width: 414px) {
  html {
    /* 414/375 = 1.104 */
    font-size: 690% !important; } }

/* ipad 768 */
@media only screen and (min-width: 768px) {
  html {
    /* 768/375 = 2.048 */
    font-size: 1280% !important; } }

/* ipad pro */
@media only screen and (min-width: 1024px) {
  html {
    /* 1024/375 = 2.73 */
    font-size: 1706% !important; } }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 625%;
  /* 取消手机点击屏幕时，会出现的灰块 */
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: .12rem; }

/* css for reset.scss */
html, body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure,
footer, header, menu, nav, section, time, mark, audio, video, details,
summary {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch; }

html, body {
  width: 100%;
  height: 100vh;
  background: #fff; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

img {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
  position: relative; }

img:after {
  content: attr(alt);
  font-size: .16rem;
  font-family: FontAwesome;
  color: #646464;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 5;
  background-color: #bbbbbb; }

html {
  overflow-y: scroll; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  /* 消除点击后出现闪动或灰色背景 */
  -webkit-tap-highlight-color: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input, textarea {
  -webkit-appearance: none; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

:focus {
  outline: none; }

i,
em {
  font-style: normal; }

::-webkit-scrollbar {
  width: 0; }

::-ms-clear {
  display: none; }

/* 去除圆角 */
input[type=search] {
  -webkit-appearance: none; }

/* 隐藏取消按钮 */
::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* 隐藏放大镜 */
::-webkit-search-results-button {
  -webkit-appearance: none; }

li {
  list-style: none; }

.c_eb9605 {
  color: #eb9605; }

.font25 {
  font-size: .25rem; }

.font18 {
  font-size: .18rem; }

.disB {
  display: block !important; }

.bg-34bba9 {
  background-color: #34bba9; }

.f12 {
  font-size: .12rem !important; }

.f18 {
  font-size: .18rem !important; }

[flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

[flex~="main:justify"] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

[flex~="cross:center"] {
  box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

[flex~="box:mean"] > * {
  width: 0%;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInRight {
  -webkit-animation: fadeInRight .3s;
          animation: fadeInRight .3s; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

.fadeOutRight {
  -webkit-animation: fadeOutRight .3s;
          animation: fadeOutRight .3s; }

/*主页面样式*/
nav {
  height: .4rem;
  width: 100%;
  border-top: 1px solid #aaa;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  z-index: 1; }
  nav a {
    display: block;
    height: 100%;
    width: .4rem;
    color: #000;
    text-align: center; }
  nav .home {
    background: url("../img/home-1.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .home.active {
    background: url("../img/home-2.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .classify {
    background: url("../img/classify-1.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%;
    overflow: hidden; }
  nav .classify.active {
    background: url("../img/classify-2.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .search {
    background: url("../img/search-1.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .search.active {
    background: url("../img/search-2.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .cart {
    background: url("../img/cart-1.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .cart.active {
    background: url("../img/cart-2.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .me {
    background: url("../img/me-1.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }
  nav .me.active {
    background: url("../img/me-2.png") no-repeat top center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%; }

header {
  height: .4rem;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: .4rem;
  font-size: .16rem;
  color: #35bba9; }

.wrap {
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  color: #000; }
  .wrap a {
    color: #333; }
    .wrap a .right-list {
      padding-right: .15rem; }

.me-list {
  margin-bottom: .15rem;
  background-color: #fff; }
  .me-list .list-info {
    padding: .1rem;
    font-size: .15rem; }
    .me-list .list-info .user-img {
      width: .5rem;
      height: .5rem;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      margin: .15rem .1rem .15rem 0; }
    .me-list .list-info .user-info {
      color: #fff; }
    .me-list .list-info .item {
      text-align: center; }
      .me-list .list-info .item .num {
        color: #f90; }

.childPage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background: yellowgreen; }

.loginContent {
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
  z-index: 99; }
  .loginContent .loginForm {
    background-color: #fff;
    margin-top: .1rem; }
    .loginContent .loginForm .inputContent {
      padding: .12rem .12rem;
      border-bottom: 1px solid #f1f1f1; }
      .loginContent .loginForm .inputContent input {
        font-size: 0.16rem;
        color: #666;
        border: none;
        width: 50%; }
  .loginContent .loginBtn {
    height: .40rem;
    width: 90%;
    margin: .2rem auto;
    text-align: center;
    -webkit-border-radius: 1%;
            border-radius: 1%;
    line-height: .40rem;
    font-size: 0.18rem;
    color: #fff; }

/* 组件样式*/
.icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: -1rem;
  text-indent: -99em;
  color: transparent;
  margin: 0;
  padding: 0;
  background-position: center center; }

.icon-me-order {
  background: url("../img/icon-me-order.png") no-repeat;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem; }

.icon-me-address {
  background: url("../img/icon-me-address.png") no-repeat;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem; }

.icon-me-question {
  background: url("../img/icon-me-question.png") no-repeat;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem; }

.icon-me-contact {
  background: url("../img/icon-me-contact.png") no-repeat;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem; }

.icon-arrow {
  background: url("../img/icon-arrow-left.png") no-repeat;
  height: .15rem;
  width: .085rem;
  background-size: 100% 100%;
  vertical-align: middle; }

.icon-arrow-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.icon-me-card {
  background: url("../img/icon-me-card.png") no-repeat;
  height: .36rem;
  width: .36rem;
  background-size: 100% 100%;
  vertical-align: middle; }

.icon-me-cent {
  background: url("../img/icon-me-cent.png") no-repeat;
  height: .36rem;
  width: .36rem;
  background-size: 100% 100%;
  vertical-align: middle; }

.icon-me-coupon {
  background: url("../img/icon-me-coupon.png") no-repeat;
  height: .36rem;
  width: .36rem;
  background-size: 100% 100%;
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
