.icon{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: -1rem;
  text-indent: -99em;
  color: transparent;
  margin: 0;
  padding: 0;
  background-position: center center ;
}
