.icon{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: -1rem;
  text-indent: -99em;
  color: transparent;
  margin: 0;
  padding: 0;
  background-position: center center ;
}

.icon-me-order{
  background: url('../img/icon-me-order.png') no-repeat ;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem;
}

.icon-me-address{
  background: url('../img/icon-me-address.png') no-repeat ;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem;
}
.icon-me-question{
  background: url('../img/icon-me-question.png') no-repeat ;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem;
}
.icon-me-contact{
  background: url('../img/icon-me-contact.png') no-repeat ;
  height: .15rem;
  width: .15rem;
  background-size: 100% 100%;
  margin-right: .05rem;
}
.icon-arrow{
  background: url('../img/icon-arrow-left.png') no-repeat ;
  height: .15rem;
  width: .085rem;
  background-size: 100% 100%;
  vertical-align: middle;

}
.icon-arrow-right{
  transform: rotate(180deg);
}

.icon-me-card{
  background: url('../img/icon-me-card.png') no-repeat ;
  height: .36rem;
  width: .36rem;
  background-size: 100% 100%;
  vertical-align: middle;
}

.icon-me-cent{
  background: url('../img/icon-me-cent.png') no-repeat ;
  height: .36rem;
  width: .36rem;
  background-size: 100% 100%;
  vertical-align: middle;
}

.icon-me-coupon{
  background: url('../img/icon-me-coupon.png') no-repeat ;
  height: .36rem;
  width: .36rem;
  background-size: 100% 100%;
  vertical-align: middle;
}
