nav{
  height:.4rem;
  width:100%;
  border-top:1px solid #aaa;
  position:fixed;
  bottom:0;
  left:0;
  display: flex;
  justify-content:space-around;
  z-index: 1;
  a{
    display: block;
    height: 100%;
    width: .4rem;
    color: #000;
    text-align: center
  }
  .home{
    background:url('../img/home-1.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .home.active{
    background:url('../img/home-2.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .classify{
    background:url('../img/classify-1.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
    overflow: hidden
  }
  .classify.active{
    background:url('../img/classify-2.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .search{
    background:url('../img/search-1.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .search.active{
    background:url('../img/search-2.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .cart{
    background:url('../img/cart-1.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .cart.active{
    background:url('../img/cart-2.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .me{
    background:url('../img/me-1.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
  .me.active{
    background:url('../img/me-2.png') no-repeat top center;
    height:60%;
    width:60%;
    margin:0 auto;
    background-size: 100% 100%;
  }
}

header{
  height:.4rem;
  width:100%;
  background-color: #fff;
  text-align: center;
  line-height: .4rem;
  font-size:.16rem;
  color:#35bba9;
}
